Refrences/
*.o
*.elf
*.lst
*.map
build/
*_bcfnt.h
launch.txt
Luma Dumps/
SD/_nds/TWiLightMenu/
www.3dbrew.org/
build.log
/FirmMux.3dsx
/FirmMux.smdh
FirmMux_SD*.zip

# Source drop folders (keep parent dirs)
ndsbs_src/nds-bootstrap-master/
retroarch_src/RetroArch-master/
log.txt
retroarch_src/RetroArch-master/
